Repository bnussman/beep, pull requests merged in 2024-09, with the labels that each got.

#97 Update port from 3001 to 3000
  api/Dockerfile
  api/src/index.ts
  app/utils/trpc.ts
  deploy/index.ts
  website/src/utils/trpc.ts
Labels: api

#98 feat: Add admin tool for rating reconciliation
  api/src/routers/user.ts
  website/src/routes/admin/ratings/index.tsx
Labels: website, api

#101 fix: Capitalize car colors in menu
  api/src/routers/car.ts
  app/routes/cars/utils.ts
Labels: app, api

#100 test: Added e2e test to simulate multiple beeps with different riders
  test/tests/beep.spec.ts
Labels: test
